﻿@model eServeSU.Models.CommunityPartner

@{
    Layout = null;
}

<div class="modal-header">
    <h2>
        Community Partner Review
    </h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>

<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            Login
        </dt>

        <dd>
            @ViewBag.PartnerLoginUserName
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MissionStatement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MissionStatement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkDescription)
        </dd>

    </dl>
</div>
<div class="modal-footer">
    <a href="@Url.Action("Approve")/@Html.DisplayFor(m=>m.AspNetUser_ID)" class="btn btn-primary">Approve</a>
    <a href="@Url.Action("Reject")/@Html.DisplayFor(m=>m.AspNetUser_ID)" class="btn btn-danger">Reject</a>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
