﻿@model IEnumerable<eServeSU.Models.CommunityPartner>

@{
    ViewBag.Title = "Pending Profiles";
}

<div class="page-header">
    <h2>Pending Profiles</h2>
</div>

@*@if (ViewBag.success != null)
{
    <div class="alert alert-success" role="alert">Successfully updated profile.</div>
}*@

@if (ViewBag.DebugMessages != null)
{
    <div class="alert alert-info" role="alert">@ViewBag.DebugMessages</div>
}

<!-- Modal Box For Displaying Opportunity Details-->
<div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-labelledby="PartnerInfo">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="modal_content">
            <!-- Content Goes Here -->
        </div>
    </div>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.AspNetUser_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkDescription)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="clickable-row">
                <td class="hidden">
                    @Html.DisplayFor(modelItem => item.AspNetUser_ID)
                </td>
                <td>
                    @Html.DisplayFor(model => item.OrganizationName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Website)
                </td>
                <td>
                    @Html.DisplayFor(model => item.WorkDescription)
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts{

    <!-- Display this while loading-->
    <script id="loading_template" type="text/html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <img class="padded-content center-block" src="@Url.Content("~/Content/Images/ajax-loader.gif")">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </script>

    <!-- Display when network error occurs -->
    <script id="error_template" type="text/html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger well-sm">An error occured trying to reach the server</div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </script>

    <script>

        // attach click handlers to table rows

        var modal_loading_html = $('#loading_template').html();
        var modal_error_html = $('#error_template').html();

        $('tbody tr').click(
            function () {
                var opp_id = $(this).find('td:first').text().trim();

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("DetailsModal")/" + opp_id,
                    beforeSend: function () {
                        $('#modal_content').empty().append(modal_loading_html);
                        $('#modal_box').modal('show');
                    },
                    complete: function () {
                        // complete
                    },
                    error: function () {
                        $('#modal_content').empty().append(modal_error_html);
                    },
                    success: function (data) {
                        $('#modal_content').empty().html(data);
                    } // success fn
                }); // anon fn
            }); // click

    </script>


}
