﻿@model eServeSU.Models.Opportunity

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Opportunity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfCreation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Requirements)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requirements)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeCommittment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeCommittment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalNumberOfSlots)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalNumberOfSlots)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrientationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrientationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResumeRequired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResumeRequired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinimumAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinimumAge)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.CRCRequiredByPartner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CRCRequiredByPartner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CRCRequiredBySU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CRCRequiredBySU)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.LinkToOnlineApp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkToOnlineApp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistanceFromSU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistanceFromSU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommunityPartner.OrganizationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommunityPartner.OrganizationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommunityPartnerStaff.TitleFirstLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommunityPartnerStaff.TitleFirstLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opp_Type.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opp_Type.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Univ_Quarter.QuarterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Univ_Quarter.QuarterName)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
