﻿@model eServeSU.Models.Opportunity

@{
    ViewBag.Title = "Edit Opportunity";
}

<div class="page-header">
    <h2>Edit Opportunity</h2>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "well text-danger" })
        @Html.HiddenFor(model => model.ID)

        <!-- Opportunity Type-->
        <div class="form-group">
            @Html.LabelFor(model => model.Type_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    SelectList selectList = ViewBag.Type_ID as SelectList;
                    if (selectList != null)
                    {
                        foreach (SelectListItem oppType in selectList)
                        {
                            if (oppType.Selected)
                            {
                                <div class="radio radio-inline">
                                    @Html.RadioButtonFor(model => model.Type_ID, oppType.Value, new {@checked = "checked"})
                                    <label>
                                        @Html.Encode(oppType.Text)
                                    </label>
                                </div>
                            }
                            else
                            {
                                <div class="radio radio-inline">
                                    @Html.RadioButtonFor(model => model.Type_ID, oppType.Value)
                                    <label>
                                        @Html.Encode(oppType.Text)
                                    </label>
                                </div>
                            }
                            @*@Html.RadioButton("Type_ID", oppType.Value, oppType.Selected)*@
                        }
                    }
                }
                <div>@Html.ValidationMessageFor(model => model.Type_ID, "", new { @class = "text-danger" })</div>
            </div>
        </div>

        <!-- Academic quarter -->
        <div class="form-group">
            @Html.LabelFor(model => model.Quarter_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Quarter_ID, selectList: ViewBag.Quarters as SelectList, htmlAttributes: new { @class = "form-control" }, optionLabel: "Select one..")
                @Html.ValidationMessageFor(model => model.Quarter_ID, "", new { @class = "text-danger" })
            </div> <!-- form-group -->
        </div>

        <!-- Opportunity Name -->
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control textarea-max" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Location -->
        <div class="form-group">
            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control textarea-max" } })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Description -->
        <div class="form-group">
            @Html.LabelFor(model => model.JobDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.JobDescription, htmlAttributes: new { @class = "form-control textarea-max", rows = "5" })
                @Html.ValidationMessageFor(model => model.JobDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Requirements -->
        <div class="form-group">
            @Html.LabelFor(model => model.Requirements, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Requirements, new { htmlAttributes = new { @class = "form-control textarea-max", rows = "5" } })
                @Html.ValidationMessageFor(model => model.Requirements, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Link to app -->
        <div class="form-group">
            @Html.LabelFor(model => model.LinkToOnlineApp, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LinkToOnlineApp, new { htmlAttributes = new { @class = "form-control textarea-max" } })
                @Html.ValidationMessageFor(model => model.LinkToOnlineApp, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Orientation Date -->
        <div class="form-group">
            @Html.LabelFor(model => model.OrientationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group date control-fixed-width" data-provide="datepicker" data-date-format="mm/dd/yyyy">
                    @Html.TextBoxFor(m => m.OrientationDate, new { @class = "form-control", placeholder = "MM/DD/YYYY" })
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.OrientationDate, "", new { @class = "text-danger" })
            </div>
        </div> <!-- Form Group -->
        <!-- Time Commitment -->
        <div class="form-group">
            @Html.LabelFor(model => model.TimeCommittment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TimeCommittment, htmlAttributes: new { @class = "form-control", placeholder = "(e.g. 2 weeks, 2 quarters..)" })
                @Html.ValidationMessageFor(model => model.TimeCommittment, "", new { @class = "text-danger" })
            </div>
        </div>


        <!-- Num slots -->
        <div class="form-group">
            @Html.LabelFor(model => model.TotalNumberOfSlots, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TotalNumberOfSlots, htmlAttributes: new { @class = "form-control bootstrap-touchspin" })
                @Html.ValidationMessageFor(model => model.TotalNumberOfSlots, "", new { @class = "text-danger" })
            </div>
        </div>


        <!-- Job Hours -->
        <div class="form-group">
            @Html.LabelFor(model => model.JobHours, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.JobHours, htmlAttributes: new { @class = "form-control bootstrap-touchspin" })
                @Html.ValidationMessageFor(model => model.JobHours, "", new { @class = "text-danger" })
            </div>
        </div> <!-- Form Group -->
        <!-- Resume Req'd -->
        <div class="form-group">
            @Html.LabelFor(model => model.ResumeRequired, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="radio radio-inline">
                    <label>
                        @Html.RadioButtonFor(m => m.ResumeRequired, false) No
                    </label>
                </div>
                <div class="radio radio-inline">
                    <label>
                        @Html.RadioButtonFor(m => m.ResumeRequired, true) Yes
                    </label>
                </div>
                @Html.ValidationMessageFor(model => model.ResumeRequired, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Minimum Age -->
        <div class="form-group">
            @Html.LabelFor(model => model.MinimumAge, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.MinimumAge, htmlAttributes: new { @class = "form-control bootstrap-touchspin", @value = "18" })
                @Html.ValidationMessageFor(model => model.MinimumAge, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- CRC Req'd by Partner -->
        <div class="form-group">
            @Html.LabelFor(model => model.CRCRequiredByPartner, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="radio radio-inline">
                    <label>
                        @Html.RadioButtonFor(m => m.CRCRequiredByPartner, false, new { @disabled = "" }) No
                    </label>
                </div>
                <div class="radio radio-inline">
                    <label>
                        @Html.RadioButtonFor(m => m.CRCRequiredByPartner, false, new { @disabled = "" }) Yes
                    </label>
                </div>
                @Html.ValidationMessageFor(model => model.CRCRequiredByPartner, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- CRC Req'd by SU -->
        <div class="form-group">
            @Html.LabelFor(model => model.CRCRequiredBySU, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="radio radio-inline">
                    <label>
                        @Html.RadioButtonFor(m => m.CRCRequiredBySU, false, new { @disabled = "" }) No
                    </label>
                </div>
                <div class="radio radio-inline">
                    <label>
                        @Html.RadioButtonFor(m => m.CRCRequiredBySU, true, new { @disabled = "" }) Yes
                    </label>
                </div>
                @Html.ValidationMessageFor(model => model.CRCRequiredBySU, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Site Supervisor -->
        <div class="form-group">
            @Html.LabelFor(model => model.CommPartnerStaff_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CommPartnerStaff_ID", ViewBag.Supervisors as IEnumerable<SelectListItem>, "Select Supervisor..", new { @class = "form-control" })
                @Html.ValidationMessage("CommPartnerStaff_ID", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Dist Fm SU -->
        <div class="form-group">
            @Html.LabelFor(model => model.DistanceFromSU, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DistanceFromSU, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DistanceFromSU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
                    }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(".bootstrap-touchspin").TouchSpin({
            verticalbuttons: true
        });


        $(".date").datepicker({ format: 'mm/dd/yyyy' });
    </script>
}
