﻿@model IEnumerable<eServeSU.Models.Opportunity>

@{
    ViewBag.Title = "List of Opportunities";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Requirements)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeCommittment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalNumberOfSlots)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrientationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResumeRequired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinimumAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CRCRequiredByPartner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CRCRequiredBySU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinkToOnlineApp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistanceFromSU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommunityPartner.OrganizationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommunityPartnerStaff.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opp_Type.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Univ_Quarter.QuarterName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Requirements)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeCommittment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalNumberOfSlots)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrientationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResumeRequired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinimumAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CRCRequiredByPartner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CRCRequiredBySU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinkToOnlineApp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistanceFromSU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommunityPartner.OrganizationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommunityPartnerStaff.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opp_Type.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Univ_Quarter.QuarterName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
