﻿@model IEnumerable<eServeSU.Areas.Partner.Models.OpportunityViewModel>

@{
    ViewBag.Title = "List of Opportunities";
}

<h2>List of Opportunities</h2>

<div>
    @Html.ActionLink("Create New Opportunity", "Create", null, new {@class = "btn btn-primary", @style = "margin-bottom: 12px", @role = "button"})
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpportunityType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supervisor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(model => item.OpportunityType)
        </td>
        <td>
            @Html.DisplayFor(model => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(model => item.Status)
        </td>
        <td>
            @Html.DisplayFor(model => item.Supervisor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
