﻿@model eServeSU.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreferedName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreferedName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InternationalStudent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InternationalStudent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastBackgroundCheck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastBackgroundCheck)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AspNetUser_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
