﻿@model IEnumerable<eServeSU.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreferedName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InternationalStudent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastBackgroundCheck)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreferedName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InternationalStudent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastBackgroundCheck)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AspNetUser_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AspNetUser_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AspNetUser_ID })
        </td>
    </tr>
}

</table>
