﻿@using eServeSU.Areas.StudentArea.Models
@model StudentViewModel

@{
    ViewBag.Title = "Student Profile";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@if (ViewBag.success != null)
{
    <div class="alert alert-success" role="alert">Successfully updated profile (update).</div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PreferedName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PreferedName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PreferedName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group date control-fixed-width" data-provide="datepicker" data-date-format="mm/dd/yyyy">
                    @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "form-control", placeholder = "MM/DD/YYYY" })
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InternationalStudent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="radio">
                    <label>
                        @Html.RadioButton("InternationalStudent", false, false) No
                    </label>
                </div>
                <div class="radio">
                    <label>
                        @Html.RadioButton("InternationalStudent", true, false) Yes
                    </label>
                </div>
                @Html.ValidationMessage("InternationalStudent", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.LastBackgroundCheck, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastBackgroundCheck, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastBackgroundCheck, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.SelectedFocusAreaIDs, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @{
                    foreach (CheckBoxInfo box in Model.FocusAreasBoxes)
                    {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="@Html.Encode(box.Id)" name="SelectedFocusAreaIDs" @if (box.IsSelected) { <text> checked</text> }>
                            @Html.Encode(box.Name)
                        </label>
                    </div>
                    }
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SelectedOppTypeIDs, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @{
                    foreach (CheckBoxInfo box in Model.OpportunityTypeBoxes)
                    {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="@Html.Encode(box.Id)" name="SelectedOppTypeIDs" @if (box.IsSelected) { <text> checked</text> }>
                            @Html.Encode(box.Name)
                        </label>
                    </div>
                    }
                }
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.SelectedRaceEthnIDs, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @{
                    foreach (CheckBoxInfo box in Model.EthnicitiesBoxes)
                    {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="@Html.Encode(box.Id)" name="SelectedRaceEthnIDs" @if (box.IsSelected) { <text> checked</text> }>
                            @Html.Encode(box.Name)
                        </label>
                    </div>
                    }
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
                    }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
