﻿<%@ Page Title="Student" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Student.aspx.cs" Inherits="eServeSU.Student1" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="jumbotron">
        <h2>Student</h2>
    </div>

    <div class="glyphicon-sort-by-alphabet">
    </div>
</asp:Content>
