﻿@{
    ViewBag.Title = "Home Page";
}

@Html.ValidationSummary(true, "", new { @class = "alert alert-info" })

<div class="row padded-content">
    <div class="col-md-4">
        <img src="~/Content/Images/serve_local_logo.png" width="1024" height="916" class="img-responsive" />
    </div>
    <div class="col-md-6">
        <img src="~/Content/Images/group_pic.jpg" width="1024" height="681" class="img-responsive" />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            How to start your volunteer .....
        </p>
        <p>
            <a class="btn btn-default" href="http://www.seattleu.edu">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>More</h2>
        <p>
            Something you want to put on home page ......
        </p>
        <p>
            <a class="btn btn-default" href="http://www.seattleu.edu">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web Map</h2>
        <p>
            About the site structure....
        </p>
        <p>
            <a class="btn btn-default" href="http://www.seattleu.edu">Learn more &raquo;</a>
        </p>
    </div>
</div>
