﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="~/Content/Images/SU_icon.png" />

    <title>@ViewBag.Title - eServe @@ Seattleu</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("eServe", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (User.IsInRole("Student"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Student Menu<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Profile", "Index", "Profile", new { area = "Student" }, null)</li>
                                <li>@Html.ActionLink("Opportunities", "Index", "Opportunity", new { area = "Student" }, null)</li>
                                <li>@*@Html.ActionLink("My Opportunities", "Index", "Profile", new { area = "Student" }, null)*@</li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/StudentLegacy/StudentRegistered">My Opportunities</a></li>
                                <li><a href="/StudentLegacy/StudentRegistration">Sign Up</a></li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Partner"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community Partner<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("My Organization", "Index", "Organization", new { area = "Partner" }, null)</li>
                                <li>@Html.ActionLink("Employee Profiles", "Index", "Employee", new { area = "Partner" }, null)</li>
                                <li>@Html.ActionLink("My Opportunities", "Index", "Opportunity", new { area = "Partner" }, null)</li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/Opportunity/OpportunityList">Opportunity List</a></li>
                                <li><a href="/CommunityPartnerContent/ReadEvaluation">Read Evaluation</a></li>
                                <li><a href="/CommunityPartnerContent/CommunityPartnerStudentView">Students</a></li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Faculty"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Faculty Menu<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Faculty/FacultyOpportunityListView">Opportunities</a></li>
                                <li><a href="/Faculty/FacultyCourseOpportunity">My Students</a></li>
                            </ul>
                        </li>
                    }

                    @if (User.IsInRole("Admin"))
                    {

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin Menu<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/AdminLegacy/AdminProfile">Admin Page</a></li>
                                <li><a href="/AdminLegacy/AdminCourseListReport">Report</a></li>
                            </ul>
                        </li>

                        if (Session["_numPendingApprovals"] != null && (int)Session["_numPendingApprovals"] > 0)
                        {
                            <li>
                                <a href="@Url.Action("Index", "ProfileApproval", new {area="Admin"})">
                                    Profiles Approval <span class="badge badge-white">
                                        <span class="text-danger">@Session["_numPendingApprovals"]</span>
                                    </span>
                                </a>
                            </li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div> <!-- Navbar -->
    <div class="container body-content">

        @Html.Partial("_Notifications")
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Team into-the-abyz</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
