﻿@model eServeSU.Models.CommunityPartnerEmployee

@{
    Layout = null;
}
@if (ViewBag.success != null)
{
    <div class="alert alert-success" role="alert">Successfully updated profile.(employee>editpartial)</div>
}

<div class="modal-content">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="myModalLabel">
                Employee Details
            </h2>
        </div>
        <div class="modal-body">

            @if (ViewBag.success != null)
            {
                <div class="alert alert-success" role="alert">Successfully updated profile.(edit partial 2)</div>
            }

            <div class="form-horizontal">

                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">

            <button id="empl_delete" type="button" class="btn btn-danger pull-left" data-confirm-container=".modal-content" href="@Url.Action("Delete", new {id = Model.ID})">Delete</button>
            <input type="submit" value="Save" class="btn btn-primary" />
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
    }
    <!-- </Form> -->
</div>

<script>
    $('#empl_delete').popConfirm();

    @{
        if (ViewBag.refreshOnClose != null)
        {
    <text>
    $('body').on('hidden.bs.modal', '.modal', reloadPage);
    </text>
        }
        else
        {
    <text>
    $('body').off('hidden.bs.modal', '.modal', reloadPage);
    </text>
        }
    }
</script>