﻿@using eServeSU.Models
@model eServeSU.Models.CommunityPartnerEmployee

@{
    ViewBag.Title = "Organization Employees";
}

<!-- Modal box for adding / editing records -->
@Html.Partial("ModalBoxPartial", new CommunityPartnerEmployee())

<div class="page-header">
    <h2>Organization Employees</h2>
</div>

<!-- Alerts from modal actions go here (e.g. record was successfully added)-->
<div id="employee_alerts"></div>


<!-- Employee alert templates -->
<div id="alert_empl_added" class="hidden">
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong><span class="glyphicon glyphicon-ok"></span> </strong>
        Employee successfully added. 
    </div>
</div>

<div id="alert_empl_changed" class="hidden">
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong><span class="glyphicon glyphicon-ok"></span> </strong>
        Employee successfully modified.
    </div>
</div>

<div id="alert_empl_removed" class="hidden">
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong><span class="glyphicon glyphicon-remove"></span> </strong>
        Employee successfully removed.
    </div>
</div>

<div>
    <a href="#" onclick="clear_modal_form()" data-toggle="modal" data-target="#create_modal" class="btn btn-primary" role="button" style="margin-bottom: 12px">
        Add New Employee
    </a>
</div>

<!-- Mustache row template -->
<script id="rows_template" type="text/html">
    {{#rows}}
    <tr class="clickable-row">
        <td>
            {{TitleFirstLastName}}
        </td>
        <td>
            {{Email}}
        </td>
        <td>
            {{Phone}}
        </td>
    </tr>
    {{/rows}}
</script>


<table id="empl_table" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TitleFirstLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
        </tr>
    </thead>
    <tbody>
        <!-- Insert Mustache Here -->
    </tbody>
</table>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/mustache.js"></script>

    <script>
        // initial row data when page first loads
        data_rows = @Html.Raw(ViewData["row_data"]);
    </script>

    <script src="~/Scripts/EmployeeAjaxScripts.js"></script>
}

