﻿@model eServeSU.Models.CommunityPartnerEmployee

@{
    Layout = null;
}

<div class="modal fade" id="create_modal" tabindex="-1" role="dialog" aria-labelledby="Create New Employee">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            @using (Html.BeginForm("CreateUpdate", "Employee", FormMethod.Post, htmlAttributes: new {id = "modal_form"}))
            {
                @Html.AntiForgeryToken()

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="myModalLabel">
                        Create New Employee
                    </h2>
                </div>
                <div class="modal-body">

                    <div id="create_form_error_well" class="alert alert-danger well-sm" style="display: none">An error occured trying to reach the server</div>

                    <div class="form-horizontal">

                        @Html.HiddenFor(m => m.ID, htmlAttributes: new { data_clear_item = "" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", data_clear_item = "" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger", data_clear_item = "" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", data_clear_item = "" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger", data_clear_item = "" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", data_clear_item = "" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger", data_clear_item = "" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", data_clear_item = "" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", data_clear_item = "" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", data_clear_item = "" } })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger", data_clear_item = "" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <img id="delete_submit_ajax_loader" src="/Content/Images/ajax-loader-btn.gif" style="display:none" class="pull-left">
                    <a data-delete-link="@Url.Action("Delete")" type="button" id="empl_delete_btn" value="Delete" class="btn btn-danger pull-left" data-confirm-container=".modal-content"> Delete </a>

                    <img id="create_submit_ajax_loader" src="/Content/Images/ajax-loader-btn.gif" style="display:none">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            }
            <!-- </Form> -->
        </div>
    </div>
</div>


<script id="error_template" type="text/html">
    <ul>
        {{#errors}}
        <li>{{ErrorMessage}}</li>
        {{/errors}}
    </ul>
</script>
