﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea,
.control-fixed-width {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

body .textarea-max {
    max-width: 100%;
}

.padded-content {
    padding: 30px;
}

.clickable-row {
    cursor: pointer;
}

.badge-white {
    background-color: #ffffff;
    /* float: right; */
    font-stretch: condensed;
    /* font-style: italic; */
    /* font-size: 10px; */
} 
