﻿@model eServeSU.Models.CommunityPartner

@{
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">
            Organization Details
        </h2>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.OrganizationName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrganizationName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Website)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Website)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MainPhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MainPhone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MissionStatement)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MissionStatement)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WorkDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WorkDescription)
            </dd>
        </dl>
    </div>
    <div class="modal-footer">

        <button id="organization_delete" type="button" class="btn btn-danger pull-left" data-confirm-container=".modal-content" href="@Url.Action("Delete", new {id = Model.AspNetUser_ID})">Delete</button>
        <script>$('#organization_delete').popConfirm();</script>

        <a type="button" class="btn btn-primary" href="@Url.Action("Edit", new {id = Model.AspNetUser_ID})">Edit</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>