﻿@model IEnumerable<eServeSU.Models.CommunityPartner>

@{
    ViewBag.Title = "Community Partners";
}

<!-- Modal Box-->
<div class="modal fade" id="PartnerInfo" tabindex="-1" role="dialog" aria-labelledby="PartnerInfo">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <img class="padded-content center-block" src="~/Content/Images/ajax-loader.gif">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="page-header">
    <h2>Community Partners</h2>
</div>

<div>
    <a href="@Url.Action("Create")" class="btn btn-primary" role="button" style="margin-bottom: 12px">Create New Organization Profile</a>
</div>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MissionStatement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkDescription)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="clickable-row" onclick="resetModal()" data-toggle="modal" data-target="#PartnerInfo" data-remote="@Url.Action("DetailsPartial", new {id = item.AspNetUser_ID})">
                <td>
                    @Html.DisplayFor(modelItem => item.OrganizationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MainPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MissionStatement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkDescription)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>*@
            </tr>
        }
    </tbody>
</table>

@section scripts
{

    <!-- Display this while loading-->
    <script id="loading_template" type="text/html">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <img class="padded-content center-block" src="@Url.Content("~/Content/Images/ajax-loader.gif")">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </script>

    <script>
        function removeModalData() {
            $(this).removeData('bs.modal');
        }

        function reloadPage() {
            window.location.reload();
        }

        $('body').on('hidden.bs.modal', '.modal', removeModalData);

        function resetModal() {
            $('#PartnerInfo').html();
        }
    </script>
}

