﻿@model IEnumerable<eServeSU.Areas.StudentArea.Models.OpportunityRegistrationViewModel>

@{
    Layout = null;
}

<div class="page-header">
    <h2>Available Opportunities</h2>
</div>


<!-- Modal Box For Displaying Opportunity Details-->
<div class="modal fade" id="available_modal_box" tabindex="-1" role="dialog" aria-labelledby="PartnerInfo">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="available_modal_content">
            <!-- Content Goes Here -->
        </div>
    </div>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.ID)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.OpportunityType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SlotsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistanceFromSU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeCommitment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="clickable-row">
                <td class="hidden">
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(model => item.OpportunityType)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Organization)
                </td>
                <td>
                    @Html.DisplayFor(model => item.SlotsAvailable)
                </td>
                <td>
                    @Html.DisplayFor(model => item.DistanceFromSU)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(model => item.TimeCommitment)
                </td>
                <td>
                    @Html.DisplayFor(model => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Status)
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts{

    <!-- Display this while loading-->
    <script id="available_loading_template" type="text/html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <img class="padded-content center-block" src="@Url.Content("~/Content/Images/ajax-loader.gif")">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </script>

    <!-- Display when network error occurs -->
    <script id="available_error_template" type="text/html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger well-sm">An error occured trying to reach the server</div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </script>

    <script>


    </script>


}
