﻿@model eServeSU.Models.Opportunity
@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2>Confirmation</h2>
</div>

<div class="modal-body">
    <div>
        <div class="alert alert-info">Registration is pending until your site supervisor approves your placement</div>

        <div style="margin-top: 20px;">
            <h3>Your next steps</h3>
            <p>
                <ol>
                    <li>Get in touch with site supervisor immediately</li>
                    <li>Attend orientation at your site</li>
                    <li>Commit to a regular schedule of service for the full quarter</li>
                    <li>Complete evaluation at the end of the quarter</li>
                </ol>
            </p>
        </div>

        <div style="margin-top: 20px;">
            <h3>
                @Html.DisplayFor(m => m.Name)
            </h3>
            @Html.DisplayFor(m => m.JobDescription)
        </div>

        <div style="margin-top: 20px;">
            <h3>
                Contact Information
            </h3>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CommunityPartnerStaff.TitleFirstLastName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CommunityPartnerStaff.TitleFirstLastName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CommunityPartnerStaff.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CommunityPartnerStaff.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CommunityPartnerStaff.Phone)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CommunityPartnerStaff.Phone)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LinkToOnlineApp)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LinkToOnlineApp)
                </dd>
            </dl>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
</div>


<script>

    // this is to make sure that the user doesn't accidentally close the modal by clicking outside of it
    $('#modal_box').data('bs.modal').options.backdrop = 'static';
    $('#modal_box').data('bs.modal').options.keyboard = false;
    $('#modal_box').on('hidden.bs.modal', function(e) {
        location.reload(true);
    });


</script>
