﻿
@model eServeSU.Models.Opportunity
@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2>Opportunity Details</h2>
</div>
<div class="modal-body">
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateOfCreation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateOfCreation)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.JobDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.JobDescription)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Requirements)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Requirements)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TimeCommittment)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TimeCommittment)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TotalNumberOfSlots)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TotalNumberOfSlots)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.OrientationDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OrientationDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ResumeRequired)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ResumeRequired)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MinimumAge)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MinimumAge)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LinkToOnlineApp)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LinkToOnlineApp)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.JobHours)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.JobHours)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DistanceFromSU)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DistanceFromSU)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CommunityPartner.OrganizationName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CommunityPartner.OrganizationName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CommunityPartnerStaff.TitleFirstLastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CommunityPartnerStaff.TitleFirstLastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Opp_Type.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Opp_Type.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Univ_Quarter.QuarterName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Univ_Quarter.QuarterName)
            </dd>
        </dl>
    </div>
</div>
<div class="modal-footer">
    <img id="signup_ajax_loader" src="~/Content/Images/ajax-loader-btn.gif" style="display:none">
    <button id="signup-button" type="button" class="btn btn-primary">Sign Up</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

<!-- Hidden form for signing up -->
@using (Html.BeginForm("SignUp", "Opportunity", FormMethod.Post, new { @id = "signup-form", @class = "hidden" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("id", Model.ID);
}

<script>


    // Note: these 2 live in the parent, so no need to re-define them
    // var modal_loading_html = $('#loading_template').html();
    // var modal_error_html = $('#error_template').html();

    $('#signup-button').click(
        function () {

            var form = $('#signup-form');

            $.ajax({
                type: "POST",
                url: form.attr("action"),
                data: form.serialize(),

                beforeSend: function () {
                    $("#signup_ajax_loader").show();
                    $('#modal_box').modal('show');
                },
                complete: function () {
                    $("#signup_ajax_loader").hide();
                },
                error: function () {
                    $('#modal_content').empty().append(modal_error_html);
                    $('#modal_box').modal('show');
                },
                success: function (data) {
                    $('#modal_content').empty().html(data);
                    $('#modal_box').modal('show');
                } // success fn
            }); // anon fn
        }); // click

</script>
