﻿@model IEnumerable<eServeSU.Areas.StudentArea.Models.RegisteredOpportunityViewModel>

@{
    Layout = null;
}

<div class="page-header">
    <h2>Registered Opportunities</h2>
</div>


<!-- Modal Box For Displaying Opportunity Details-->
<div class="modal fade" id="signedup_modal_box" tabindex="-1" role="dialog" aria-labelledby="PartnerInfo">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="signedup_modal_content">
            <!-- Content Goes Here -->
        </div>
    </div>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicTerm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpportunityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody id="signedup_tbody">
        @foreach (var item in Model)
        {
            <tr class="clickable-row">
                <td class="hidden">
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(model => item.AcademicTerm)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Organization)
                </td>
                <td>
                    @Html.DisplayFor(model => item.OpportunityName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Hours)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Status)
                </td>
            </tr>
        }
    </tbody>
</table>


<!-- Display this while loading-->
<script id="signedup_loading_template" type="text/html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <img class="padded-content center-block" src="@Url.Content("~/Content/Images/ajax-loader.gif")">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</script>

<!-- Display when network error occurs -->
<script id="signedup_error_template" type="text/html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger well-sm">An error occured trying to reach the server</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</script>

<script>

    var signedup_detail_url = @Url.Action("DetailsModal");

</script>